@use 'sass:map';

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::selection {
  background-color: transparent;
  color: transparent;
}

html,
body {
	height: 100%;
}

body {
  position: relative;
	min-height: 100vh;
	min-width: 100vw;
	width: 100%;
	height: 100%;
	min-height: -webkit-fill-available;
	overflow: hidden;
	background-color: #000;
	color: #fff;
  cursor: none;
}

// ======================

:root {
  --deg: 0;
}

main {
	display: grid;
	place-items: center;
	min-height: 100vh;
}

#anchor {
	$size: 75vmin;
	$ball: calc($size * 0.044);
	$pupil: calc($ball * 0.20);

	position: relative;
	width: $size;
	aspect-ratio: 1 / 1;

  img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
	}
  
  &:active {
    .ball {
        &:nth-of-type(1) { .eye { animation: swirly 300ms linear infinite forwards;}}
        &:nth-of-type(2) { .eye { animation: swirly 300ms 100ms linear infinite reverse;}}
        &:nth-of-type(3) { .eye { animation: swirly 300ms linear infinite forwards;}}
        &:nth-of-type(4) { .eye { animation: swirly 300ms  100ms linear infinite reverse;}}
    }
  }

	#eyes {
		position: absolute;
		width: 100%;
		height: 100%;

		.ball {
			position: absolute;
      z-index: 2;

			display: block;
			width: $ball;
			height: $ball;
			border-radius: 100%;
			background: #fff;
			overflow: hidden;

			.pupil {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 0%);

				display: block;
				width: $pupil;
				height: $pupil;
				border-radius: 100%;
				background: #000;
				overflow: hidden;
			}
		}

		.ball {
      .eye {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        transform: rotate(var(--deg));
      }
			&:nth-of-type(1) {
				top: 0%;
        right: 50%;
        transform: translate(395%, 440%);
			}

			&:nth-of-type(2) {
        top: 0%;
        right: 50%;
        transform: translate(205%, 440%);
			}

			&:nth-of-type(3) {
        top: 0%;
        right: 50%;
        transform: translate(-50%, 828%);
			}

			&:nth-of-type(4) {
        top: 0%;
        right: 50%;
        transform: translate(-260%, 860%);
			}
		}
	}
}

// ======================

@mixin setDir($d: 1) {
  $mouth: translate(-20%,-65%);
  $dir: scaleX(1);
  $dd: 1;
  
  @if ($d == 1 or $d == -1) {
    $dd: $d;

    @if ($dd == 1) {
      $mouth: translate(-80%,-65%);
    } @else {
      $mouth: translate(-20%,-65%);
    }
  }
  
  transform: $mouth rotate(var(--deg));
}

#nugget {
  position: fixed;
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #FFC907;
  box-shadow: 0px 0px 16px 5px rgba($color: #FFC907, $alpha: 0.45);
  z-index: 999999;
}


#cursor {
  $curSize: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  pointer-events: none;
  // border: 1px solid #FFC907;

  img {
    display: block;
    width: $curSize;
    height: $curSize;
  }
  
  #trail {
    $trail: rgba(229, 221, 0, 0.0);
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background: #FFC907;
    z-index: 99999;
  }
  
  @include setDir();
  
  &.left {
    @include setDir(-1);

    img {
      transform: scaleX(-1);
    }
    
    #trail {
      left: 0;
      right: unset;
      transform: scaleX(1);
    }
    
    // &-center {
    //   @include setDir(-1);
    // }
    
    // &-down {
    //   @include setDir(-1, -1);
    // }
    
    // &-up {
    //   @include setDir(-1, 1);
    // }
  }
  
  &.right {
    @include setDir(1);
    
    img {
      transform: scaleX(1);
    }
    
    #trail {
      left: unset;
      right: 0;
      transform: scaleX(1);
    }
    
    // &-center {
    //   @include setDir(1, 0);
    // }
    
    // &-down {
    //   @include setDir(1, -1);
    // }
    
    // &-up {
    //   @include setDir(1, 1);
    // }
  }
  
  
}


#log {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  top: 0;
  left: 0;
  color: palevioletred;
  font-size: 20px;
  padding: 1ch 2ch;
}

// ======================


@keyframes swirly {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}